{% extends "layouts/internal-service.html" %}

{% block pageTitle %}
Change transaction - ATP 4.2
{% endblock %}

{% block beforeContent %}
<a href="/review" class="govuk-back-link">
  Back
</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errors %}

    {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
    }) }}

    {% endif %}


    <h1 class="govuk-heading-l">
      Change transaction data
    </h1>

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date
        </dt>

        <dd class="govuk-summary-list__value">
          {{ transaction.date }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Description
        </dt>

        <dd class="govuk-summary-list__value">
          {{ transaction.description }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
          Debit
        </dt>

        <dd class="govuk-summary-list__value govuk-!-width-one-half">

          {% if pendingTransactionChange.originalValues.debit !=
          pendingTransactionChange.updatedValues.debit %}

            {% if pendingTransactionChange.originalValues.debit %}
            <del>
              £{{ pendingTransactionChange.originalValues.debit }}
            </del>
            {% else %}
            &mdash;
            {% endif %}

              {% if pendingTransactionChange.updatedValues.debit %}
              <strong>£{{ pendingTransactionChange.updatedValues.debit }}</strong>
              {% else %}
              &mdash;
              {% endif %}

            {% else %}

            {% if pendingTransactionChange.originalValues.debit %}
            £{{ pendingTransactionChange.originalValues.debit }}
            {% else %}
            &mdash;
            {% endif %}

          {% endif %}

        </dd>

        <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
          <a class="govuk-link" href="/review/edit/{{ transaction.id }}/debit">
            Change<span class="govuk-visually-hidden"> debit amount</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
          Credit
        </dt>

        <dd class="govuk-summary-list__value govuk-!-width-one-half">

          {% if pendingTransactionChange.originalValues.credit !=
          pendingTransactionChange.updatedValues.credit %}

            {% if pendingTransactionChange.originalValues.credit %}
            <del>
              £{{ pendingTransactionChange.originalValues.credit }}
            </del>
            {% else %}
            &mdash;
            {% endif %}

            
              {% if pendingTransactionChange.updatedValues.credit %}
              <strong>£{{ pendingTransactionChange.updatedValues.credit }} </strong>
              {% else %}
              &mdash;
              {% endif %}
           

          {% else %}

            {% if pendingTransactionChange.originalValues.credit %}
              £{{ pendingTransactionChange.originalValues.credit }}
            {% else %}
              &mdash;
            {% endif %}

          {% endif %}

        </dd>

        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/review/edit/{{transaction.id }}/credit">
            Change<span class="govuk-visually-hidden"> credit amount</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
          Balance
        </dt>


        <dd class="govuk-summary-list__value govuk-!-width-one-half">

          {% if pendingTransactionChange.originalValues.balance !=
          pendingTransactionChange.updatedValues.balance %}

            {% if pendingTransactionChange.originalValues.balance %}
            <del>
              £{{ pendingTransactionChange.originalValues.balance }}
            </del>
            {% else %}
            &mdash;
            {% endif %}

            {% if pendingTransactionChange.updatedValues.balance %}
            <strong>£{{ pendingTransactionChange.updatedValues.balance }}</strong>
            {% else %}
            &mdash;
            {% endif %}

          {% else %}

            {% if pendingTransactionChange.originalValues.balance %}
            £{{ pendingTransactionChange.originalValues.balance }}
            {% else %}
            &mdash;
            {% endif %}

          {% endif %}

        </dd>

        <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
          <a class="govuk-link" href="/review/edit/{{transaction.id}}/balance">
            Change<span class="govuk-visually-hidden"> balance</span>
          </a>
        </dd>
      </div>

    </dl>

    <form method="post" action="/review/review-changes">

      {% set hasChanges =
      pendingTransactionChange.originalValues.debit != pendingTransactionChange.updatedValues.debit
      or pendingTransactionChange.originalValues.credit != pendingTransactionChange.updatedValues.credit
      or pendingTransactionChange.originalValues.balance != pendingTransactionChange.updatedValues.balance
      %}

      {% if hasChanges %}

      <div class="govuk-form-group {% if errors and errors.length %}govuk-form-group--error{% endif %}">

        <label class="govuk-label govuk-label--s" for="reason">

          Reason for change

        </label>

        <div id="reason-hint" class="govuk-hint">
          Explain why the transaction data needs to be amended.
        </div>

        {% if errors %}

        <p id="reason-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          Enter a reason for the change
        </p>

        {% endif %}

        <textarea class="govuk-textarea" id="reason" name="reason" rows="5"
          aria-describedby="reason-hint">{{ enteredReason }}</textarea>

      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Confirm and revalidate
      </button>
      {% if errors %}

      <p id="reason-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span>
        Enter a reason for the change
      </p>

      {% endif %}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="/review/remove/{{ transaction.id }}">
        Remove transaction
      </a>
    </p>

  </div>
  {% endif %}

</div>
</div>

{% endblock %}