{% extends "layouts/internal-service.html" %}

{% block pageTitle %}
Review transactions - ATP 4.2
{% endblock %}

{% block beforeContent %}
<a onclick="history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    {% if statement.reviewStatus == 'completed' %}

    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="review-complete-title" data-module="govuk-notification-banner">

      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="review-complete-title">
          Success
        </h2>
      </div>

      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          Review complete
        </h3>

        <p class="govuk-body">
          All unreconciled transactions have been reviewed and validated.
        </p>

        <p class="govuk-body">
          <a class="govuk-link" href="/downloads/extracted-data">Download reviewed data
          </a>
        </p>
      </div>

    </div>

    {% endif %}

    <h1 class="govuk-heading-l">
      Unreconciled transactions
    </h1>

    {% if hasAuditRecords %}
    <p class="govuk-body">
      <a class="govuk-link" href="/review/audit-history">View audit history</a>
    </p>
    {% endif %}
    <ul class=" govuk-task-list">

      {% for item in reviewItems %}
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/review/item/{{ item.id }}"
            aria-describedby="transaction-review-{{ item.id }}-status">
            Unreconciled transaction {{ item.displayNumber }}
          </a>
          <div id="transaction-review-{{ item.id }}-hint" class="govuk-task-list__hint">
            {{ item.hint }}
          </div>
        </div>
        <div class="govuk-task-list__status" id="transaction-review-{{ item.id }}-status">
          {% if item.status == 'validated' %}
          <strong class="govuk-tag govuk-tag--green">
            Validated
          </strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--yellow">
            Needs review
          </strong>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>




  </div>
</div>

{% endblock %}