{% extends "layouts/internal-service.html" %}

{% block pageTitle %}
Review transactions - ATP 4.2
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/statements/success"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Review transactions
    </h1>

    {{ govukTable({
      head: [
        { text: "Date" },
        { text: "Description" },
        { text: "Amount" },
        { text: "Action" }
      ],
      rows: rows
    }) }}

  </div>
</div>

{% endblock %}