{% extends "layouts/internal-service.html" %}

{% block pageTitle %}
ATP 4.2
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      ATP 4.2
    </h1>

    <p class="govuk-body">
      Upload bank statements for extraction and review.
    </p>

    <p class="govuk-body">
      You can review extracted transactions, make amendments,
      remove transactions and download review outputs.
    </p>

    {{ govukButton({
      text: "Start now",
      href: "/upload",
      isStartButton: true
    }) }}

  </div>
</div>

{% endblock %}