{% extends "layouts/internal-service.html" %}

{% block pageTitle %}
Upload statement - ATP 4.2
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Upload statement
    </h1>

      {{ govukFileUpload({
        id: "statement-file",
        name: "statementFile",
        label: {
          text: "Choose a PDF bank statement"
        },
        hint: {
          text: "For ATP 4.2 this can be any file. Extraction remains mocked."
        }
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}