{% extends "layouts/internal-service.html" %}

{% block pageTitle %}
Upload statement - ATP 4.2
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
classes:"govuk-!-margin-bottom-0",
href: "/"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="/upload">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper govuk-!-margin-bottom-6">
          <label class="govuk-label govuk-label--l" for="file-upload-1">
            Upload a bank statement
          </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint">
          Choose a single PDF file.
        </div>

        <div class="govuk-file-upload-wrapper" data-module="govuk-file-upload">
          <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
        </div>

        <button type="submit" class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
          Continue
        </button>
      </div>

    </form>

  </div>
</div>

{% endblock %}