{% extends "layouts/internal-service.html" %}

{% block pageTitle %}
Statement extracted - ATP 4.2
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if showAuditDownloadError %}

    {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
    {
    text: "Download the audit history before downloading the reviewed data",
    href: "#download-audit-history"
    }
    ]
    }) }}

    {% endif %}


    {% if statement.reviewStatus == 'completed' and hasReviewItems %}

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Review complete
      </h1>

      <div class="govuk-panel__body">
        Extracted data is ready to download
      </div>
    </div>

    {% elseif hasReviewItems %}

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Extraction complete
      </h1>

      <div class="govuk-panel__body">
        {{ reviewItems.length }} transactions require review
      </div>
    </div>

    {% else %}
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Extraction complete
      </h1>

      <div class="govuk-panel__body">
        Ready to download
      </div>
    </div>

    {% endif %}

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          File name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ uploadedFileName }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Pages processed
        </dt>
        <dd class="govuk-summary-list__value">
          {{ statement.pageCount }}
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Transactions extracted
        </dt>
        <dd class="govuk-summary-list__value">
          {{ statement.transactionCount }}
        </dd>
      </div>

      {% if hasReviewItems %}

      {% if statement.reviewStatus != 'completed' %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Flagged for review
        </dt>
        <dd class="govuk-summary-list__value">
          {{ reviewItems.length }} unreconciled transaction{% if reviewItems.length != 1 %}s{% endif %}
        </dd>
      </div>

      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Transactions reviewed
        </dt>
        <dd class="govuk-summary-list__value">
          {{ reviewedCount }}
        </dd>
      </div>

      {% endif %}

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Transactions reviewed
    </dt>
    <dd class="govuk-summary-list__value">
      {{ reviewedCount }} of {{ reviewItems.length }}
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Last review action
    </dt>
    <dd class="govuk-summary-list__value">
      {% if lastAudit %}
        {{ lastAudit.action }}
      {% else %}
        None
      {% endif %}
    </dd>
  </div>

  {% endif %}

</dl>


    {% if hasReviewItems %}


    {% if statement.reviewStatus == 'completed' and hasReviewItems %}

    <h2 class="govuk-heading-m govuk-!-margin-top-8">
      What next
    </h2>

    <p class="govuk-body">
      You must download the audit history before you can download the extracted data.
    </p>

    <div class="govuk-button-group">
      <form method="post" action="/downloads/audit-history-ready">
        {{ govukButton({
        text: "Download audit history",
        name: "action",
        value: "audit-history",
        attributes: {
        id: "download-audit-history"
        }
        }) }}
      </form>
      <form method="post" action="/downloads/audit-history-ready">
        {{ govukButton({
        text: "Download extracted data",
        classes: "govuk-button--secondary",
        name: "action",
        value: "reviewed-data"
        }) }}
      </form>

    </div>


    {% elseif hasReviewItems %}

    {{ govukButton({
    text: "Review transactions",
    href: "/review"
    }) }}

    {% else %}

    {{ govukButton({
    text: "Download extracted data",
    href: "/downloads/extracted-data"
    }) }}

    {% endif %}

    <p class="govuk-body">
  <a
    class="govuk-link govuk-link--no-visited-state"
    href="/upload">
    Choose another file</a></p>


  </div>
</div>

{% endblock %}