{% extends "layouts/internal-service.html" %}

{% block pageTitle %}
Statement extracted - ATP 4.2
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Extraction complete
      </h1>

      <div class="govuk-panel__body">
        {{ reviewItems.length }} transactions require review<br>
      </div>
    </div>

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          File name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ uploadedFileName }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Transactions extracted
        </dt>
        <dd class="govuk-summary-list__value">
          {{ statement.transactions.length }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Flagged for review
        </dt>
        <dd class="govuk-summary-list__value">
          {{ reviewItems.length }} unreconciled transaction{% if reviewItems.length != 1 %}s{% endif %}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Transactions reviewed
        </dt>
        <dd class="govuk-summary-list__value">
          {{ reviewedCount }} of {{ reviewItems.length }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Last review action
        </dt>
        <dd class="govuk-summary-list__value">
          {% if lastAudit %}
          {{ lastAudit.action }}
          {% else %}
          None
          {% endif %}
        </dd>
      </div>

    </dl>

    {{ govukButton({
    text: "Review transactions",
    href: "/review"
    }) }}

  </div>
</div>

{% endblock %}